@{
    ViewBag.Title = "Unauthorized Access";
}
@* stolen from Adrian *@
<h1 class="text-danger">Error.</h1>
<marquee>
    <h2 class="text-danger">This is a restricted view and you need to be a registered user to access.</h2>
    </marquee>
