@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us!</h2>

Find us on <a href="https://www.facebook.com/pages/Harvest-Marching-Band-Festival/177683765646501">Facebook!</a>

<address>
   Website Support: wesselcp@plu.edu
</address>
