@{
    ViewBag.Title = "Home Page";
}

@using Microsoft.AspNet.Identity

<div class="jumbotron">
    <h1>Harvest Band Festival</h1>
    <p class="lead">
        The Fifteenth Annual Harvest Marching Band Festival!<br />
        Saturday, October 17, 2015 at Zaepfel Stadium in Yakima, Washington
</div>

<div class="row">


    @if (!this.User.Identity.IsAuthenticated)
    {
        <div class="col-md-4">
            <h2>Welcome!</h2>
            <p>
                Welcome to the new Harvest Band Festival website! Login to view more content.
            </p>
            <p>
                @Html.ActionLink(linkText: "Spectator Information",
                            actionName: "SpectatorInfo",
                            controllerName: "Home")
            </p>
            <p>
                @Html.ActionLink(linkText: "View Registered Bands",
                            actionName: "Index",
                            controllerName: "Bands")
            </p>
        </div>
    }
    @if (this.User.Identity.IsAuthenticated)
    {
        <div class="col-md-4">
            <h2>Logged in </h2>
            <p>Logged in as @User.Identity.GetUserName()</p>
            <p>Use the links above to navigate</p>
        </div>
    }
    <div class="col-md-4">
        <h2>Festival Goals:</h2>
        <p>
            <ul>
                <li>
                    To showcase the finest High School Marching Bands in the Northwest
                </li>
                <li>
                    To provide Bands and Band Directors with the highest quality judging and performance feedback
                </li>
                <li>
                    To provide the citizens of Central Washington an opportunity to see the best of today's youth perform at the highest levels
                </li>
                <li>
                    To provide the city of Yakima with an economic stimulus
                </li>
                <li>
                    To support the Band programs of both A.C. Davis and Eisenhower High Schools
                </li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/HarvestLogo.jpg" />
    </div>


</div>