@{
    ViewBag.Title = "Spectator Info";
}
<h2>Spectator Information<br /></h2>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-4 column">
                    <table>
                        <tr>
                            Harvest Marching Band Festival
                        </tr>
                        <tr>
                            <td>
                                Saturday, October 17, 2015
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Preliminary Competition:
                            </td>
                            <td>
                                12:30 PM - 3:30 PM
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Finals Competition:
                            </td>
                            <td>
                                4:30-8:15 PM
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Final Awards Announced:
                            </td>
                            <td>
                                8:30 pm
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4 column">

                    Twelve bands from Preliminary Competition will be selected to participate in Finals Competition in the following manner:
                    <ol>
                        <li>
                            The top two bands from each division (A, AA, AAA-S and AAA-L) with more than three bands will be selected.  If a division has one, two or three bands then the division winner in Preliminary Competition will perform in finals.  Bands performing in the Novice division are not eligible for Finals.
                        </li>
                        <li>
                            The remaining positions are filled by bands from any division in Preliminary Score order.
                        </li>
                        <li>
                            Bands perform in Preliminary Score order.
                        </li>
                        <li>
                            Caption Awards (Best Marching, Auxiliary, etc.) are awarded to the highest scoring band in Preliminary Competition.
                        </li>
                    </ol>
                </div>
                <div class="col-md-4 column">
                    <img alt="140x140" src="~/Content/HarvestLogo.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>
